.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #4CAF50;
    /* Green background */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
}

.header-logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-item a:hover {
    color: #FFD700;
    /* Gold color on hover */
}

.dropdown-item select {
    font-family: sans-serif;
    padding: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    border: #4CAF50;
    color: white;
}

.navbar-item.dropdown-item {
    position: relative;
    padding-right: 20px;
}

.navbar-item.dropdown-item::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-20%) rotate(180deg);
    /* Initial state: no rotation */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    pointer-events: none;
    transition: transform 0.3s ease;
    /* Smooth transition for rotation */
}

/* Rotate arrow on hover or when dropdown is active */
.navbar-item.dropdown-item:hover::after,
.navbar-item.dropdown-item.active::after {
    transform: translateY(-50%) rotate(180deg);
    /* Rotate 180 degrees */
    border-color: black transparent transparent transparent;
    /* Inverted arrow color */
    transition: transform 0.3s ease;
}